node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
.venv
venv
env
__pycache__
*.pyc
*.pyo
.pytest_cache
temp
temp/
*.log
*.pem
*.key
.npm
.eslintcache
.DS_Store
.vscode
.idea
README.md
docs
test
tests
examples
.github
.circleci
.travis.yml
Makefile
LICENSE
.next
dist
build
coverage
.turbo
.yarnrc
yarn-error.log
pnpm-lock.yaml
.yarn
.gradle
.android
.ios
.turboignore
